ul {
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    gap: 8px;
}
h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8; 
    margin: 0;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
}
.top {
    background-color: #1f2937;
    padding-bottom: 100px;
}
.logo-links {
    display: flex;
    justify-content: space-around;
}
.frog-main {
    width: 400px;
    height: auto;
}
button {
    background-color: #3882f6;
    border-radius: 25px;
    padding: 16px;
    font-size: 16px;
    font-weight: 850;
    color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.signup-button{
    display: flex;
    align-self: flex-start;
}
.first-sec {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.top-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0;
}

.top-para {
    margin: 6;
    color: azure;
    font-family: 'Times New Roman', Times, serif;
}
.frog-pictures .four-frogs {
    width: 225px;
    height: 225px;
    border:solid;
}
.frog-pictures {
    display: flex;
    justify-content: center;
    gap: 8px;

}
.heading-two {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
figure {
    margin: 0;
}
figcaption {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}